html {
	scroll-behavior: smooth;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: clamp(14px, 1.25vw, 18px);
}



.sticky-nav {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  padding: 10px 0;
  z-index: 1000;
  width: 100%;
  border-bottom: solid 2px #000000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.sticky-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 5vw;
}

.sticky-nav li {
  position: relative;
}

.sticky-nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-size: clamp(14px, 1.1vw, 18px);
}

.sticky-nav a:hover {
  color: white;
  background: black;
}

/* Hamburger button */
.burger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
  .sticky-nav ul {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 200px;
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding-top: 20px;
    transition: left 0.3s ease;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  }

  .sticky-nav{
	padding: 15px 0;
  }


  .sticky-nav ul.active {
    left: 0;
  }

  .burger {
    display: block;
  }

  .sticky-nav li {
    display: block;
    width: 70%;
    padding: 10px 20px;
  }

  .sticky-nav a {
    display: block;
    width: 100%;
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;       /* skrytý standardně */
  z-index: 999;        /* pod nav a nad ostatním */
  transition: opacity 0.3s ease;
}

#overlay.active {
  display: block;
}


.home {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 800px;
}

.home-text {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 2;
	color: white;
	width: 40vw;
	height: 100%;
	background: linear-gradient(to right, 	
		rgba(0, 0, 0, 0.932) 0%,
		rgba(0, 0, 0, 0.8) 50%,
		rgba(0, 0, 0, 0) 100%
	);
	font-size: clamp(14px, 1.2vw, 18px);
}

@media (max-width: 768px){
	.home-text{
		background: linear-gradient(to right, 	
		rgba(0, 0, 0, 0.932) 0%,
		rgba(0, 0, 0, 0.8) 70%,
		rgba(0, 0, 0, 0.76) 100%
	);
	}
}

.home-text h1 {
	margin-bottom: 1vw;
	margin-left: 1vw;
	font-size: clamp(38px, 2.5vw, 48px);
	/*color: rgb(0, 129, 0);*/
	padding: 20px;
	text-shadow: 
		0 0 5px #ffffffa6,
		0 0 10px #ffffffa8,
		0 0 20px #ffffffa4,
		0 0 40px #ffffff91;
}

.home-text p {
	font-size: clamp(24px, 1.2vw, 28px);
	padding: 20px;
	margin-left: 1vw;
	line-height: 1.8;
}

/* Media query pro menší obrazovky */
@media (max-width: 768px) {
	.home {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 800px; /* Zachovej výšku */
	}

	.home-text {
		max-width: 100%;
		width: 100%;
		align-items: center;
		text-align: center;
	}
	
}


.home-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	overflow: hidden;
}

.background-video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}

.black-bar {
	position: absolute;
	width: 100%;
	height: 20%;
	background-color: rgb(0, 0, 0);
	z-index: -1;
	top: 50%;
	transform: translateY(-50%);
}

.mashines{
	margin-top: 20px;
	padding-top: 40px;
	padding-bottom: 20px;
}



.services {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 7vw;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.box {
	position: relative;
	background-color: rgb(0, 0, 0);
	width: 22%;
	min-width: 250px;

	display: flex;
	flex-direction: column;
	text-align: center;
	border-radius: 12px;
	box-shadow: 0 0px 20px 10px rgba(0, 0, 0, 0.1);
}


.text-box {
	margin-top: auto;
	padding: 40px 0;
	background-color: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;


	font-size: clamp(14px, 1.25vw, 18px);
}

#black-text {
	background-color: black;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
	font-size: clamp(14px, 1.25vw, 18px);
	line-height: 1.3;
}

.box img {
	width: 100%;
	object-fit: cover;
	height: clamp(220px, 30vw, 350px);

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}



.more-btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: clamp(16px, 2vw, 24px);
	font-weight: bold;
	width: 70%;
	height: 50px;
	margin-top: 10px;
	padding: 0.2vw 1vw;
	text-decoration: none;
	background-color: #000000;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.more-btn:hover {
	transform: scale(1.05);
}


@media (max-width: 1200px) {
	.box {
		width: 38%;
	}
}


@media (max-width: 767px) {
	.services {
		flex-direction: column;
		align-items: center;
	}

	.box {
		width: 70%;
	}
}




.service1 {
	text-align: center;
	margin-top: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.section-title {
	font-size: clamp(24px, 2.5vw, 36px);
	margin-bottom: 20px;
}

.video-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.responsive-video {
	width: 70%;
	max-width: 1600px;
	height: auto;
	aspect-ratio: 16 / 9;
}

.text-block {
	text-align: left;
	margin-bottom: 30px;
	padding-left: 20px;
	font-size: clamp(14px, 1.25vw, 18px);
}

.small-title {
	font-size: clamp(20px, 2vw, 28px);
}

.small-text {
	font-size: clamp(16px, 1.5vw, 22px);
	color: #000000;
}

.small-text li{
	margin: 5px;
}

.image-gallery {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10vw;
}

.gallery-img {
  width: 17vw;
  height: 17vw;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: 0 0px 20px 2px rgba(0, 0, 0, 0.1);
}


.gallery-img:hover {
  transform: scale(1.1);
}

@media (max-width: 767px) {
	.gallery-img:hover {
		transform: none;
	}
}



@media (max-width: 1200px) {
  .gallery-img {
    width: 38vw;
    height: 38vw;
  }
}


@media (max-width: 767px) {
  .image-gallery {
    flex-direction: column;
    align-items: center;
  }

  .gallery-img {
    width: 65vw;
    height: 65vw;
  }
}


.image-gallery-wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-gallery-wrapper::before {
	content: "";
	position: absolute;
	top: 53%;
	left: 0;
	width: 100%;
	height: 40%; /* tloušťka černé liny */
	background-color: black;
	transform: translateY(-50%);
	z-index: 0;
}

/* Skrytí černé linky na menších obrazovkách */
@media (max-width: 1200px) {
	.image-gallery-wrapper::before {
		display: none;
	}
}


.image1-gallery1 {
	position: relative;
	padding-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10vw;
	z-index: 1; /* obrázky nad linou */
}

@media (max-width: 767px) {
  .image1-gallery1 {
    flex-direction: column;
    align-items: center;
  }
}

/* Třída pro zablokování scrollu pozadí */
.no-scroll {
    overflow: hidden;
    height: 100%; /* Pojistka pro některé mobilní prohlížeče */
}

.modal {
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	justify-content: center;
	align-items: center;
	animation: fadeIn 0.3s ease forwards;
	opacity: 0;
}

.modal.show {
	display: flex;
	animation: fadeIn 0.3s ease forwards;
}

.modal.hide {
	animation: fadeOut 0.3s ease forwards;
}

.modal-content {
	max-width: 90%;
	max-height: 80%;
	margin: auto;
	animation: zoomIn 0.3s ease;
}

.close {
	position: absolute;
	top: 20px;
	right: 20px;
	color: white;
	font-size: clamp(28px, 3vw, 40px);
	font-weight: bold;
	cursor: pointer;
}

/* Základní styl pro obrázek v modalu */
.modal-content {
    transition: transform 0.3s ease; /* Plynulý přechod při zoomu */
    cursor: zoom-in; /* Kurzor lupy */
}

/* Třída, ktera se přidáva pomocí JS */
.modal-content.zoomed {
    transform: scale(1.5); /* Zvětšení 2x (můžeš změnit dle libosti) */
    cursor: zoom-out;    /* Kurzor pro zmenšení */
}

/* Aby se zvětšený obrázek dal posouvat, pokud přeteče modal */
.modal {
    overflow: auto; 
}

/* Animace */
@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes zoomIn {
	from { transform: scale(0.8); opacity: 0; }
	to { transform: scale(1); opacity: 1; }
}

*:target {
	scroll-margin-top: 100px;
}

@media (max-width: 768px) {
	.black-bar {
		height: 15%;
	}
	.responsive-video {
		width: 100%;
	}
}


	.contacts {
  background-color: #000;
  color: white;
  display: flex;
  flex-direction: row;        /*  text vlevo, mapa vpravo */
  flex-wrap: nowrap;
  padding: 40px;
	padding-top: 3vw;
	padding-bottom: 3vw;
  margin-top: 5vw;
  gap: 40px;
  height: auto;
}

.text-content {
  flex: 1 1 50%;
  padding-right: 5vw;
}

.text-content p {
  margin: 0;
  padding-bottom: 20px;
}

.map-container {
  flex: 1 1 150%;
  min-height: 300px;
}

.map-container iframe {
  width: 100%;
  height: 100%;
	min-height: 370px;
  border: 0;
  border-radius: 8px;
}

/* mapa pod textem */
@media (max-width: 768px) {
  .contacts {
    flex-direction: column;
    padding: 20px;
  }

  .text-content {
    padding-right: 0;
  }

	.map-container iframe{
		height: 370px;
	}

  .map-container {
    min-height: 250px;
  }
}


		.contact-form-section {
  background-color: #f9f9f9;
  padding: 60px 20px;
  text-align: center;
}

.contact-form-section h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-form input,
.contact-form textarea {
  border: none;
  border-bottom: 2px solid #ccc;
  background: transparent;
  padding: 10px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-bottom-color: #000;
}

.contact-form textarea {
  resize: none;
	font-family: Arial, Helvetica, sans-serif;
  min-height: 100px;
}

.contact-form button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 15px;
  font-size: 1rem;
	font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 6px;
}

.contact-form button:hover {
  background-color: #333;
}

.copyright{
	background-color: #000;
	color: rgb(141, 141, 141);
	padding-top: 1vw;
	padding-bottom: 0.5vw;
	text-align: center;
	margin-bottom: 0;
}

.form-message {
  margin-top: 20px;
  font-size: 1rem;
  font-weight: bold;
  transition: opacity 0.3s ease;
}

.form-message.success {
  color: green;
}

.form-message.error {
  color: red;
}

/*.stroje-seznam li{
	margin: 4px;
}*/



.dropdown {
  position: relative;
}

.dropbtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px; /* mezera mezi textem a šipkou */
}

.arrow {
  font-size: 0.7em;
  transition: transform 0.3s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  margin-top: 8px;
  min-width: 150px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 0px;
  border-bottom: 1px solid #000;
}

.dropdown-content a:last-child {
  border-bottom: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.dropdown-content a:hover {
  background-color: #000000;
  color: #fff;
}

/* Třída pro otevření dropdownu */
.dropdown.open .dropdown-content {
  display: block;
}

/* Rotace šipky při otevření */
.dropdown.open .arrow {
  transform: rotate(180deg);
}

@media (max-width: 768px) {
    .dropdown-content {
    position: relative;
    margin: 0;
    box-shadow: none;
  }
  .sticky-nav a:hover {
    color: inherit;         /* zachová původní barvu textu */
    background: transparent; /* odstraneni hover pozadí */
  }
}.nav-icon{
	height: 40px;
	width: auto;
	
}